h1 {
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Ultra', serif;
  font-size: 40px;
  font-weight: normal;
  color: white;
  margin-bottom: 0px;
}

.headerdiv{
    font-family: 'Ultra', serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.kaartenblack{
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
}

.kaartenred{
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    color: red;
}

body {
  font-size: 50px;
  background-image: linear-gradient(#086904, #077802, #086904);
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

.statusbalk {
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background: #077802;
  text-align: center;
}
.statusbalkGlow {
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    background: #077802;
    text-align: center;
}
.errorBalk {
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background: red;
    text-align: center;
}

.naamAanBeurt {
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.naamNietBeurt {
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

div {
  font-size: 14px;
}

button {
  background-image: linear-gradient(#086904, #077802, #086904);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width: 150px;
  height: 3em;
}

th, td {
  padding-right: 15px;
  text-align: left;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

textarea
{
    width:100%;
}
.textwrapper
{
    border:1px solid #999999;
    margin:5px 0;
    padding:3px;
}

p.hidden {
    display: none;
}
